{% extends 'base.html.twig' %}

{% block title %}MalikAuto - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="display-4 p-2 text-center">Bienvenue sur MalikAuto</h1>
		<h3 class="lead text-center">Votre Destination Automobile en Ligne</h3>
		{% if not vehicules.items is same as([]) %}
			<div class="jumbotron text-center">
				<div class="d-flex justify-content-between">
					<div class="count text-start d-flex align-items-center">
						Il y a
						{{ vehicules.getTotalItemCount }}
						véhicules au total.
					</div>
					<div class="navigation mt-3 ml-auto">
						{{ knp_pagination_render(vehicules) }}
					</div>
				</div>
				<tbody>
					<div class="row row-cols-1 row-cols-md-3 g-4">
						{% for vehicule in vehicules %}
							<div class="col">
								<div class="card h-100">
									<div class="card-header">
										{% if vehicule.enVente %}
											<h5 class="text-success">En vente</h5>
										{% else %}
											<h5 class="text-danger">Vendu</h5>
										{% endif %}
									</div>
									<img src="{{ vehicule.image }}" class="card-img-top" alt="Image du véhicule">
									<div class="card-body">
										<h5 class="card-title">{{ vehicule.nom }}
										</h5>
										<h5 class="card-title">{{ vehicule.modele }}
										</h5>
										<p class="card-text">{{ vehicule.description|slice(0, 50) }}</p>
										{% if vehicule.description|length > 100 %}
											<button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{ vehicule.id }}">Voir plus</button>
										{% endif %}
									</div>
									<div class="card-footer">
										<h5 class="card-title">Publié le :
											{{ vehicule.dateCreation|date('d/m/Y') }}
										</h5>
									</div>
									<div class="modal fade" id="modal{{ vehicule.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ vehicule.id }}" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modalLabel{{ vehicule.id }}">Description complète</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													{{ vehicule.description }}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</tbody>
				<div class="d-flex justify-content-between">
					<div class="count text-start d-flex align-items-center">
						Il y a
						{{ vehicules.getTotalItemCount }}
						véhicules au total.
					</div>
					<div class="navigation mt-3 ml-auto">
						{{ knp_pagination_render(vehicules) }}
					</div>
				</div>
			{% else %}
				<h4>Il n'y a pas d'véhicule</h4>
			{% endif %}
		</div>
	{% endblock %}
