<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">MalikAuto</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_home') }}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
			</ul>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{# L'utilisateur est connecté, affiche le lien de déconnexion avec confirmation #}
				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">modifier mon pseudo</a>
							<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">modifier mon mot de passe</a>
							<a class="dropdown-item" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte Administrateur ?')" href="{{ path('user.delete', {id : app.user.id}) }}">supprimer mon compte</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin') }}">admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="confirmLogout()">Déconnexion</a>
					</li>
				</ul>
				<script>
					function confirmLogout() {
if (confirm('Êtes-vous sûr de vouloir vous déconnecter ?')) {
window.location.href = '{{ path('security.logout') }}';
}
}
				</script>
			{% else %}
				{# L'utilisateur n'est pas connecté, affiche le lien de connexion #}
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.login') }}">Connexion Admin</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
